.top-section{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profile-image{
    width: 300px;
    height: auto;
}

a,
a:link,
a:visited{
    color: aqua;
    text-decoration: none;
}

a:hover{
    color: darkcyan;
    text-decoration: none;
}

h1{
    color: #ffffff;
}

body{
    font-family: system-ui, sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
}
