.top-section{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profile-image{
    width: 300px;
    height: auto;
}


h1{
    color: #ffffff;
}

body{
    font-family: system-ui, sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
}

a:link{
    color:aqua;
}

a:hover{
    text-decoration: underline;
}