.top-section{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profile-image{
    width: 300px;
    height: auto;
}

a,
a:link,
a:visited{
    color: aqua;
    text-decoration: none;
}

a:hover{
    color: darkcyan;
    text-decoration: underline;
}

a:active{
    color: plum;
    text-decoration: none;
}

.UMass{
    color: gray;
}

.Amherst{
    color: firebrick;
}

.umass-link,
.umass-link:link,
.umass-link:visited{
    text-decoration: none;
}

.umass-link:active .UMass{
    color: rgb(78, 78, 78);
}

.umass-link:active .Amherst{
    color: rgb(128, 34, 34);
}

h1{
    color: #ffffff;
}

body{
    font-family: system-ui, sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
}
